@import "../../variables";

#roadmap {
  margin: 0 24px;
  position: relative;
  top: -500px;
  #roadmapContainer {
    color: $chocolate;
    position: absolute;
    top: 100px;
    #title {
      background: url(../../assets/images/titlebg.webp) no-repeat;
      background-position: center;
      background-size: 300px;
      padding: 24px 0;
    }
    #quarters {
      margin: -40px 120px;
      display: flex;
      gap: 24px;

      .quarter {
        width: 240px;
        img {
          width: 120px;
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #roadmap {
    display: none;
  }
}
