@import "../../variables";
#backers {
  position: relative;

  #bg {
    width: 90%;
    height: 540px;
    margin: 3rem 0;
    margin-left: 5%;
  }
  #brandsCont {
    width: 100%;
    position: absolute;
    top: 50px;
    #title {
      color: $chocolate;
      background: url(../../assets/images/titlebg.webp) no-repeat;
      background-position: center;
      background-size: contain;
      padding: 10px;
    }
    #brands {
      // border: 1px solid;
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 50px;

      // img {
      //   width: 100%;
      // }
    }
  }
}
