@import "../../variables";

#cardsContainer {
  margin-top: -200px;
  padding-top: 200px;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), $bg, $bg, $bg, $bg);
  #cards {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .infoCard {
      width: 400px;
      position: relative;
      margin: 0 auto;

      .cardpaper {
        width: 83%;
        position: absolute;
        top: 20%;
        left: 8%;
      }
      .cardContent {
        width: 83%;
        position: absolute;
        top: 150px;
        left: 32px;
        color: $chocolate;
        text-align: center;
        div {
          img {
            width: 100%;
            &:last-child {
              width: 200px;
              position: absolute;
              top: -48px;
              left: 140px;
            }
          }
        }
      }
    }
  }
}
