#discover {
  margin-top: 80px;
  padding-bottom: 100px;
  background: url(../../assets/images/discover-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  #discoverHeader {
    padding-bottom: 160px;
    background-image: linear-gradient(#0d2334, #0d2334, rgba(0, 0, 0, 0));
    #title {
      font-size: 2rem;
    }
  }
  #images {
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;

    #dragon {
      width: 100%;
    }
    #tower {
      display: block;
      width: 100%;
      position: absolute;
      top: 35%;
      z-index: 1;
    }
    #seashellCover {
      width: 24%;
      position: absolute;
      top: -10%;
      left: 40%;
      display: block;
      z-index: 2;
      animation: shellCover 2s infinite ease-in-out;
    }
    #smoke {
      width: 20%;
      position: absolute;
      top: -30%;
      left: 40%;
      display: block;
      margin: 0 auto;
      z-index: 3;
      animation: smoke 4s infinite ease-in-out;
    }
    #seashell {
      width: 24%;
      position: absolute;
      top: 10%;
      left: 40%;
      display: block;
      margin: 0 auto;
      z-index: 4;
    }
    #bee {
      width: 10%;
      position: absolute;
      top: 40%;
      left: 51%;
      display: block;
      margin: 0 auto;
      z-index: 4;
      animation: bee 2s infinite ease-in-out;
    }
    #soldiar {
      width: 10%;
      position: absolute;
      top: 15%;
      left: 25%;
      display: block;
      margin: 0 auto;
      z-index: 4;
    }
    #fruit {
      width: 20%;
      position: absolute;
      top: -5%;
      right: 10%;
      display: block;
      margin: 0 auto;
      z-index: 4;
    }
    #helping {
      width: 10%;
      position: absolute;
      top: 90%;
      right: 20%;
      display: block;
      margin: 0 auto;
      z-index: 4;
    }
  }
  #joinTheBattle {
    position: relative;
    background: url(../../assets/images/bg.webp) no-repeat;
    padding: 16px;
    background-size: 100%;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    z-index: 5;
  }
  #slideFromOutside {
    display: flex;
    justify-content: center;
    // gap: 200px;
    #bitcoin {
      width: 40%;
      position: relative;
      z-index: 1;
    }
    #flash {
      position: relative;
      right: 0;
      z-index: 1;
    }
  }
  #crabada {
    margin-top: 32px;
    position: relative;
    z-index: 1;
  }
}
@keyframes bee {
  50% {
    transform: translateY(24px);
  }
}
@keyframes shellCover {
  50% {
    transform: skewY(4deg);
    transform: skewX(4deg);
  }
}
@keyframes smoke {
  50% {
    opacity: 0.2;
  }
}
