#footer {
  position: relative;
  margin-top: -12px;

  #footerContent {
    position: absolute;
    top: 25%;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    .tos {
      margin-left: 32px;
    }
    .icons {
      margin-left: auto;
      img {
        width: 70px;
      }
    }
  }
}

@media (max-width: 800px) {
  #footer {
    #footerContent {
      top: 40%;
      .tos {
        font-size: 10px;
        margin-left: 32px;
      }
      .icons {
        margin-left: auto;
        img {
          width: 32px;
        }
      }
    }
  }
}
