html {
  --scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
}
body {
  background-color: #0d2334;
  /* background: url(/src/assets/images/backgroundColor.webp); */
  /* background-size: cover; */
  color: #fff;
  font-family: Signika, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
